{% extends './base.html'%} {% load static %} {% block tituloPagina%} Buscar
Producto {% endblock %} {% block contenidoPagina %}

<h2 class="text-center mt-3">Buscar producto:</h2>

<form method="post" class="d-flex flex-column align-items-center mt-3">
  {% csrf_token %}

  <input type="text" name="marca" placeholder="Marca:" />
  <input class="mt-2" type="submit" value="Buscar" />
</form>

<!--Resultado Busqueda -->
<section class="container-lg">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    {%for producto in productos%}
    <div class="col">
      <div class="card h-100">
        <img src="{{producto.imagen}}" class="imgproducto" />
        <div class="card-body text-center">
          <h5 class="card-title"><b>Modelo: </b>{{producto.modelo}}</h5>
          <p class="card-text">
            <b><b>Marca: </b>{{producto.marca}}</b>
          </p>
          <p><b>Precio: </b><span>${{producto.precio}}</span></p>
        </div>
        <div class="w-100 text-center mb-3">
          <button class="btn btn-outline-info">Editar</button>
          <button class="btn btn-outline-danger">Eliminar</button>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</section>

{% endblock%}
