{% extends './base.html' %}   <!-- Aquí traemos la plantilla de base-->
{% load static %}

{% block tituloPagina%} 
Inicio - Ecommerce
{%endblock%}

{%block contenidoPagina%}
    <!-- About section-->
    <!-- Header -->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Tu tienda de confianza</h1>
            <p class="lead">Tenemos lo que estas buscando.</p>
            <a class="btn btn-lg btn-light" href="{%url 'productos'%}">Ver catálogo</a>
        </div>
    </header>

    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Benefios de la tienda</h2>
                    <p class="lead">20% off con tarjetas de bancos seleccionadas:</p>
                    <ul>
                        <li>Banco Santander RIO</li>
                        <li>Banco Macro</li>
                        <li>Banco Nacion</li>
                        <li>HSBC</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}